
body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2497493.jpg&f=1&nofb=1&ipt=7df2e83135a9ed26a9615403b39cffd7a50e0bd7fabeacf05972f0d73e040d63");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

form input,
form select,
form button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #d40b3a;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background-color: #d40b3a;
}
